{% extends "Base.html" %}



{% block content %}
<div class="homescreen">
    <h1>Welcome</h1>
    <p>This is a new Django project, where i will be trying out different kinds of APIs and apps.
        <br>
        The site will be updating on the go.
    </p>
    <div class="links">
        <a href="https://github.com/erikhalt" target="_blank"><i class='bx bxl-github'></i>My Github</a>
        <br>
        <a href="https://www.linkedin.com/in/erik-h-063041100/" target="_blank"><i
                class='bx bxl-linkedin-square'></i>Linkedin</a>
    </div>
</div>
{% endblock %}