.taskcells {
    height: 100%;
}

.taskrow {
    height: 15%;
}

.addtask {
    width: 55%;
}

.taskwindowheight {
    height: 820px;
}

.taskoverflow {
    overflow-x: hidden;
    overflow-y: scroll;
}

.taskcardheight {
    height: 70%;
}