body {
    margin: 0px;
    font-family: monospace;
    font: lucida;
}

body,
html {
    height: 100%;
}

text {
    font: papyrus;
}

.content-wrapper {
    width: 70%;
    height: 70%;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 5px;

}

#info-display {
    display: none;
}

.homeinfo:hover+#info-display {
    display: block;
}










.weather-output {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.534);
    top: 5%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    border-radius: 10px;
}

.weather-output h1 {
    position: relative;
    font: italic bold 15px monospace;
    top: 5%;
    width: 70%;
    font-size: 150%;
    left: 15%;
    right: 15%;
    text-align: center;
}

.today {
    position: absolute;
    width: 30%;
    height: 45%;
    left: 5%;
    right: 65%;
    top: 5%;
    margin-bottom: 5%;
}

.today img {
    position: absolute;
    left: 42.5%;
    right: 42.5%;
}

.today p {
    position: absolute;
    width: 60%;
    height: 30%;
    left: 20%;
    right: 15%;
    font-size: 90%;
    bottom: 20%;
    top: 50%;
    text-align: center;
    font: italic bold 15px monospace;
}

.forecast-weather-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    opacity: 60%;
    width: 60%;
    height: 90%;
    bottom: 5%;
    top: 5%;
    left: 35%;
    right: 5%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.forecast-weather-divs {
    position: relative;
    width: 55%;
    height: 22%;
    background-color: #EFF6E0;
    margin-top: 1%;
    border-radius: 10px;
    font: italic bold 15px monospace;
    right: 5%;
    left: 30%;
    display: flex;
}

.img-forecast {
    position: relative;
    width: 100px;
    height: 100px;
    right: -35%;
}

.forecast-weather-divs h1 {
    position: relative;
    top: 2%;
    left: 2%;
}

.forecast-weather-divs h2 {
    position: relative;
    left: -25%;
    top: 36%;
}

.forecast-weather-divs h3 {
    position: relative;
    right: 10%;
    top: 5%;
}


.forecast-weather-divs img {
    right: 2%;
}



.weather-input {
    position: absolute;
    bottom: 2%;
    left: 2%;
}