body {
    margin: 0px;
}

.body {
    position: absolute;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: -webkit-fill-available;
    height: 100%;
    height: fill-available;
    display: flex;
}

.side-navbar {
    position: relative;
    height: 100%;
    width: 15%;
    background-color: white;
    border: 1px solid black;
}

.content {
    position: relative;
    width: 80%;
    height: 100%;
    background-color: white;
}

.navbarbutton {
    position: relative;
    margin-top: 20%;
    display: block;
    width: 70%;
    height: 5%;
    left: 15%;
    right: 15%;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
    color: #0ff;
    border-radius: 4px;
}

.navbarbutton:hover {
    color: black;
    background-color: #0ff;
    box-shadow: 0px 0px 10px 10px #0ff;
}



#tag {
    position: absolute;
    font: italic bold 15px monospace;
    bottom: 2%;
    width: 70%;
    left: 15%;
    right: 15%;
    text-align: center;
}

.homescreen {
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #124559;
    top: 15%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    box-shadow: 0 0 40px #01161E;
    border-radius: 50px;
}

.homescreen h1 {
    position: relative;
    font: italic bold 15px monospace;
    top: 5%;
    width: 70%;
    font-size: 300%;
    left: 15%;
    right: 15%;
    text-align: center;
}

.homescreen p {
    position: relative;
    height: 50%;
    top: 15%;
    bottom: 15%;
    width: 50%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.links {
    position: relative;
    width: 50%;
    height: 25%;
    left: 25%;
    right: 25%;
    align-items: center;
}

.homescreen a {
    position: relative;
    top: 15%;
    bottom: 15%;
    left: 25%;
    right: 25%;
    width: 50%;
    margin-top: 5%;
    font-size: 100%;
    text-align: center;
}

.weather-output {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: #124559;
    top: 5%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    box-shadow: 0 0 40px #01161E;
    border-radius: 50px;
}

.weather-output h1 {
    position: relative;
    font: italic bold 15px monospace;
    top: 5%;
    width: 70%;
    font-size: 150%;
    left: 15%;
    right: 15%;
    text-align: center;
}

.today {
    position: absolute;
    width: 30%;
    height: 45%;
    left: 35%;
    right: 35%;
    top: 5%;
    box-shadow: 0 0 40px #01161E;
    border-radius: 50px;
    background-color: #EFF6E0;
    margin-bottom: 5%;
}

.today img {
    position: absolute;
    width: 15%;
    left: 42.5%;
    right: 42.5%;
}

.today p {
    position: absolute;
    width: 60%;
    height: 30%;
    left: 20%;
    right: 15%;
    font-size: 90%;
    bottom: 20%;
    top: 50%;
    text-align: center;
    font: italic bold 15px monospace;
}

.forecast-weather-container {
    position: absolute;
    box-shadow: 0 0 40px #01161E;
    border-radius: 50px;
    background-color: #EFF6E0;
    opacity: 60%;
    width: 60%;
    height: 30%;
    bottom: 5%;
    top: 52%;
    left: 10%;
    right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.forecast-weather-divs {
    width: 40%;
    height: 80%;
    background-color: #EFF6E0;
    margin-left: 5%;
    box-shadow: 0 0 20px #01161E;
    border-radius: 50px;
    text-align: center;
    font: italic bold 15px monospace;
}

.forecast-weather-divs img {
    width: 50%;
}




a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}