body {
    margin: 0px;
    font-family: monospace;
    font: lucida;
}

text {
    font: papyrus;
}

.body {
    position: absolute;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: -webkit-fill-available;
    height: 100%;
    height: fill-available;
    display: flex;
}

.side-navbar {
    position: relative;
    height: -webkit-fill-available;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.534);
    border: 1px solid black;
}

.content {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

}

#bg {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.navbarbutton {
    position: relative;
    margin-top: 10%;
    display: block;
    width: 50%;
    height: 2%;
    left: 15%;
    right: 15%;
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-radius: 4px;
    font-size: 120%;
}

.navbarbutton:hover {
    color: white;
    background-color: black;
}



#tag {
    position: absolute;
    font: italic bold 15px monospace;
    bottom: 10%;
    width: 70%;
    left: 15%;
    right: 15%;
    text-align: center;
}



.links {
    position: absolute;
    width: 50%;
    height: 5%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    align-items: center;
}

.links a {
    font-size: 75%;
    color: black;
}



.weather-output {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.534);
    top: 5%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    border-radius: 10px;
}

.weather-output h1 {
    position: relative;
    font: italic bold 15px monospace;
    top: 5%;
    width: 70%;
    font-size: 150%;
    left: 15%;
    right: 15%;
    text-align: center;
}

.today {
    position: absolute;
    width: 30%;
    height: 45%;
    left: 5%;
    right: 65%;
    top: 5%;
    margin-bottom: 5%;
}

.today img {
    position: absolute;
    left: 42.5%;
    right: 42.5%;
}

.today p {
    position: absolute;
    width: 60%;
    height: 30%;
    left: 20%;
    right: 15%;
    font-size: 90%;
    bottom: 20%;
    top: 50%;
    text-align: center;
    font: italic bold 15px monospace;
}

.forecast-weather-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    opacity: 60%;
    width: 60%;
    height: 90%;
    bottom: 5%;
    top: 5%;
    left: 35%;
    right: 5%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.forecast-weather-divs {
    position: relative;
    width: 55%;
    height: 22%;
    background-color: #EFF6E0;
    margin-top: 1%;
    border-radius: 10px;
    font: italic bold 15px monospace;
    right: 5%;
    left: 30%;
    display: flex;
}

.img-forecast {
    position: relative;
    width: 100px;
    height: 100px;
    right: -35%;
}

.forecast-weather-divs h1 {
    position: relative;
    top: 2%;
    left: 2%;
}

.forecast-weather-divs h2 {
    position: relative;
    left: -25%;
    top: 36%;
}

.forecast-weather-divs h3 {
    position: relative;
    right: 10%;
    top: 5%;
}


.forecast-weather-divs img {
    right: 2%;
}




a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}



.home-info {
    position: absolute;
    width: 10%;
    left: 45%;
    right: 45%;
    height: 5%;
    top: 85%;
    bottom: 5%;
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.home-info:hover+#infotext {
    display: block;
}

.home-info:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#infotext {
    position: absolute;
    border: 1px solid black;
    width: 30%;
    left: 35%;
    right: 35%;
    height: 20%;
    text-align: center;
    bottom: 35%;
    top: 45%;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 5px;
    display: none;
}

.weather-input {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.navbar-menus {
    border-bottom: 1px solid black;
    position: relative;
    width: 80%;
    margin-top: 30%;
}