{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href=".../static/css/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{% static 'sorting.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
    <div class="body">
        <img id="bg" src="/static/assets/background.jpg" alt="">
        <div class="side-navbar">

            <h1 class="navbar-menus">about me</h1>
            <a href="{% url 'home' %}" class="navbarbutton">
                HOME
            </a>

            <h1 class="navbar-menus">projects</h1>
            <a href="{% url 'weatherapi' %}" class="navbarbutton">
                WEATHER
            </a>
            <a href="{% url 'sortingalgo' %}" class="navbarbutton">
                SORTING
            </a>


            <h1 id="tag">Made By Erik</h1>
            <div class="links">
                <a href="https://github.com/erikhalt" target="_blank"><i class='bx bxl-github'></i>My Github</a>
                <br>
                <a href="https://www.linkedin.com/in/erik-h-063041100/" target="_blank"><i
                        class='bx bxl-linkedin-square'></i>Linkedin</a>
            </div>
        </div>
        <div class="content">

            {%block content %}
            {%endblock%}
        </div>
    </div>


</body>

</html>