{% extends "prmbase.html" %}
{% load static %}


{% block content %}
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group">
            <div class="row w-100 m-0 p-0">
                <input type="text" name="Name" placeholder="Name" class="mr-0 w-25 mt-4">
            </div>
            <div class="row w-100 m-0 p-0">
                <input type="textarea" name="Description" placeholder="Description" class="mr-0 w-25 mt-3">
            </div>
        </div>
        <div class="row w-100 m-0 p-0">
            <button type="submit" class="w-25 mt-5 mr-0">Create Task</button>
        </div>
</div>
</form>

<h1>{{active_project.Name}}</h1>
<div class="container-fluid overflow-scroll mb-5">
    {% if active_task %}
    {% for task in active_task %}
    <div class="row">
        <div class="col">
            <div class="row w-100 m-0 p-0 bg-gradient bg-primary">
                {% if task.Stage == '1' %}
                <h1>{{task.Name}}</h1>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="row w-100 m-0 p-0 bg-gradient bg-primary">
                {% if task.Stage == '2' %}
                <h1>{{task.Name}}</h1>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="row w-100 m-0 p-0 bg-gradient bg-primary">
                {% if task.Stage == '3' %}
                <h1>{{task.Name}}</h1>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="row w-100 m-0 p-0 bg-gradient bg-primary">
                {% if task.Stage == '4' %}
                <h1>{{task.Name}}</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>




{% endblock %}